	@charset "utf-8";
/* CSS Document */

body#index{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

#index p{
	margin: 0 0 20px 0;	
}

#index p, #index ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

#index img{
	border: 0;
}

#index h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

#index h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

#index #header h1, #pixels{
	color: #48941A;
}

#index .float-left{
	float: left;	
	margin: 0 0 0 20px;
}

#index .float-right{
	float: right;
	margin: 0 20px 0 0;
}

#index .center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#index #nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#index #nav li{
	margin: 0 0 15px 0;	
}

#index #header,#index #intro, #index #second{
	width: 100%;
}

#index #intro{
	background:url(../images/largeCatbg.jpg) no-repeat right top;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

#index #second{
	background: url(../images/maurbg2.jpg) no-repeat fixed;
	background-repeat:repeat;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#index #second .bg{
	background: url(../images/marl.png) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}
#index #second .bg2{
	background: url(../images/marl.png) 95% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 700px;
	z-index: 205;
}

#index #third{
	background: url(../images/footprints.png) repeat fixed;
	color: white;
	height: 650px;
	padding: 100px 0 0 0;	
}

 #index #sixth{
	background: url(../images/ginglvu.jpg)  fixed;
	color: #002;
	height: 650px;
	padding: 100px 0 0 0;	
}
 #index #sixth p{
	background-color:hsla(360, 0%, 100%, 0.5);
	padding:20px;
	border-radius:30px;}


#index #fifth{
	background: hsla(280, 50%, 80%, 0.4);
	height: 700px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#index .story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

/*ff99cc*/
 #index .story .float-left,#index .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}

#index .story h2{
	text-align:center;
	font-size:2em;
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;}


 #index a.entre{
	background-color:#6cf;
	border-radius:20px;
	color:white;
	font-family:sans-serif;
	font-size:1.5em;
	margin: auto 0;
	text-decoration:none;
	padding:15px;

	}

#index a.entre:hover{
	background-color:#6bf;
	text-decoration:underline;
	}

/* **************************************************************************
								Fruit machine 
********************************************************************************/
img.lever{
	border: none;
}

img.fm{
	border: 3px solid #868788;
}

#pageWrapper
{
    z-index:1;
	width: 700px;
	margin-right: auto;
	margin-left: auto;	
	border-radius:30px;
	background-color:#fff;
	margin:0 auto ;
	padding:30px;
}


#mastHead{
	height: 200px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/masthead.jpg);
	background-position:  center top;
	background-repeat: no-repeat;
}
#rollers{

	margin: 0 auto;
	background-color: transparent;

}


#rollers img{
border-radius:40px;}

#lever{
	margin-top: 100px;
	text-align: center;
	cursor: pointer;
}

.links{
	margin-left:30px;
	margin-bottom:-30px;}


/*fruit machine end */